management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
      group:
        readiness:
          include: diskSpace
        liveness:
          include: ping